<div class="row">
    <div class="col-md-24">
      <p>The success of SparkPlug technology relies on compatibility to ensure application portability, security, stability, and resiliency. Compatibility will allow more technology providers to leverage and strengthen the SparkPlug brand in the enterprise Java community. If you are interested in featuring your product here, follow the steps on the Get Listed page.</p>

      <a class="btn btn-lg btn-secondary margin-bottom-5 float-right" href="https://github.com/eclipse/sparkplug">Compatibility Requests</a>
    </div>
    <!-- <div class="col-md-8"><img class="compatible-logo img img-responsive" src="/images/jakarta/jakarta-ee-compatible-logo-color.svg" title="{{ i18n "jakarta-ee-logo-alt" }}"></div> -->
</div>
  
<style>
  div.product-list .grid-center { display: flex; align-items: center;}
</style>