<div class="featured-section featured-section-testimonials featured-section-testimonials-single row">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img class="img-responsive" src="images/sparkplug/testimonies/arlen-nipper.png" alt="picture">
      </div>
      <div class="col-sm-19 featured-section-testimonials-single-text">
        <p><em>"I am so pleased to see the Sparkplug specification bring MQTT
  back to the market sector it was developed for in the first place."</em></p>
  <p><em>- Arlen Nipper, Co-inventor of MQTT</em></p>
      </div>
    </div>
  </div>
</div>