<div class="featured-section featured-section-contact-form container text-center">
  <h2>HOW TO JOIN THE WORKING GROUP</h2>
  <div class="row">
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step1.png" alt="1. Meet the community">
    </div>
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step2.png" alt="2. Become a Member">
    </div>
    <div class="col-sm-8">
      <img class="featured-section-contact-form-image" src="images/sparkplug/join/step3.png" alt="3. Have an impact">
    </div>
  </div>
  <p><a class="btn btn-primary featured-section-contact-btn" href="#">Meet Us</a></p>
  
  <div class="margin-top-60">
    <p>Already familiar with the group?</p>
    <p>Download the membership guide with application to get started.</p>
  </div>
  
  [FORM]
  <p class="margin-top-60"><a class="btn btn-primary" href="#">Download Now</a></p>
</div>