<div class="featured-section featured-section-book container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2 featured-section-book-content">
      <p class="margin-bottom-40">Learn how Eclipse Sparkplug and  MQTT technology can transform your IIoT project with this free resource.</p>
      <p><a class="btn btn-primary" href="#">Download Now</a></p>
    </div>
    <div class="col-sm-10">
      <img class="img-responsive" src="images/sparkplug/book/guide.jpg" alt="Book">
    </div>
  </div>
</div>